@model ProjectManagerSystem.Models.CustomTasksViewModels.CustomTasksViewModels


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/mustache.min.js"></script>
<script src="~/Scripts/TaskJSController.js"></script>

<script>
    var tas = new TaskController();
    tas.intialize();
</script>

@using (Html.BeginForm("Index", "Tasks", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Task View</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.projectViewModels, "Project", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("ProjectId", (IEnumerable<SelectListItem>)ViewBag.listProject, "---Choose Project---", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.aspNetUsersViewModels, "Assignee", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("AssigneeId", (IEnumerable<SelectListItem>)ViewBag.listAssignee, "---Choose Assignee---", new { @class = "form-control" })
        </div>
    </div>

    <button id="ShowButton" type="button">Show</button>
    <hr />
    <table id="TaskTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>TaskId</th>
                <th>TaskName</th>
                <th>Assignee</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id=""></tbody>
    </table>

    <script id="data-template" type="x-tmpl-mustache">
        <tr>
            <td>{{TaskId}}</td>
            <td>{{TaskName}}</td>
            <td>{{Assignee}}</td>
            <td>{{Status}}</td>
        </tr>
    </script>

    <button>@Html.ActionLink("Add", "AddTasks", "Tasks")</button>
    <button id="DeleteTasks">Delete</button>
}

